.email-folder-list {
  margin-top: 20px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15%;
  height: 100vh;
  background-color: #ebf0f2;

}

.compose {
  margin-top: 20px;

}

.folder-item {
  margin-bottom: 15px;
  padding: 20px;
}

.active-filter {
  background-color: rgb(187, 185, 185);
}

.email-folder-list ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
