.email-filter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.email-filter form {
  display: flex;
  flex-direction: row-reverse;
}


.search-bar {
  height: 35px;
  margin-left: 5px;
  border: none;
  background-color: #EAF1FB;
  border-radius: 10px;
  border: 1px #bfc4cd solid;
  width: 500px;
}